[package]
name = "custom-domains"
version = "0.1.0"
description = "Custom Domains Feature on Internet Computer"
edition = "2024"

[dependencies]
axum = "0.8.4"
axum-server = "0.7.2"
derive-new = "0.7.0"
mockall = "0.13.1"
serde = { version = "1.0.219", features = ["derive"] }
serde_json = "1.0.140"
thiserror = "2.0.12"
tokio = { version = "1.45.1", features = ["full"] }
tokio-util = "0.7.15"
tower = "0.5.2"
tracing = "0.1.41"
tracing-subscriber = "0.3.19"
trait-async = "0.1.24"
