[package]
name = "custom-domains"
version = "0.1.0"
description = "Custom Domains Feature on Internet Computer"
edition = "2024"

[dependencies]
derive-new = "0.7.0"
thiserror = "2.0.12"
tokio = { version = "1.45.1", features = ["full"] }
tokio-util = "0.7.15"
tracing = "0.1.41"
tracing-subscriber = "0.3.19"
trait-async = "0.1.24"