[package]
name = "custom-domains"
version = "0.1.0"
description = "Custom Domains Feature on Internet Computer"
edition = "2024"

[dependencies]
anyhow = "1.0.98"
axum = "0.8.4"
axum-server = "0.7.2"
candid = "0.10.14"
derive-new = "0.7.0"
fqdn = "0.4.6"
ic-bn-lib = { git = "https://github.com/dfinity/ic-bn-lib", features = [
    "acme_dns",
] }
mockall = "0.13.1"
pem = "3.0.5"
prometheus = "0.14.0"
reqwest = "0.12.20"
rustls-pki-types = "1.12.0"
serde = { version = "1.0.219", features = ["derive"] }
serde_json = "1.0.140"
strum = "0.27.1"
thiserror = "2.0.12"
tokio = { version = "1.45.1", features = ["full"] }
tokio-util = "0.7.15"
tower = "0.5.2"
tracing = "0.1.41"
tracing-subscriber = "0.3.19"
trait-async = "0.1.24"
trust-dns-resolver = "0.23.2"
x509-parser = "0.17.0"
